/Users/thecave/Desktop/the-good-life/views/footer-graphs.ejs:130
    128|                     items: [
    129|                         {
 >> 130|                             content: '<p class="small"><%= "Top Category" %></p><h5 class="center mt-0 mb-0"><%= efforts_cat[0].category %></h5>'
    131|                         }
    132|                     ]
    133|                 })

Cannot read property 'category' of undefined
